<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Credentials.plist
   twitter_iOS

   Created by Vicki Chun on 10/4/15.
   Copyright (c) 2015 Vicki Grospe. All rights reserved.
-->
<plist version="1.0">
    <dict>
      <key>ConsumerKey</key>
      <string>VM7uCFT5MfCyy94JVu6TW9svd</string>
      <key>ConsumerSecret</key>
      <string>qS4Yc8Y0ZKSG2oogKwtgQi5aSV6kVw4cc9QnbrsR2v0m4xztB4</string>
    </dict>
</plist>
